.jumbotron {
    background-color: red;
}

.manager {
    background-color: blue;
}

.engineer {
    background-color: green;
}

.intern {
    background-color: blueviolet;
}

.team-area {
    gap: 10px;
}

.card {
    margin: 10px;
    width: 20%;
}